<!DOCTYPE html>
<html lang="en" ng-app="mdExample">
<head>
    <meta charset="UTF-8">
    <title>Angular Mobile Detect</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="../dist/angular-mobile-detect.js"></script>
    <script>
        angular.module('mdExample', [])
                .controller('mdExampleController', ['$scope', '$window', function($scope, $window) {
                    $scope.userAgent = $window.navigator.userAgent
                }]);
    </script>
</head>
<body ng-controller="mdExampleController">
    <div class="container">
        <div class="jumbotron" style="margin-top: 20px">
            <h1>UserAgent</h1>
            <input type="text" class="form-control" ng-model="userAgent">
        </div>

        <div class="alert alert-info" md-mobile>Mobile</div>

        <div class="alert alert-success" md-desktop>Desktop</div>

        <div class="alert alert-warning" md-is="callback">Callback</div>
    </div>

</body>
</html>